<p class="checkbox-wrapper {{wrapperClass}}" {{action 'toggle' on='click'}}>
  {{input checked=checked type="checkbox" class=checkboxClass }}
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}
</p>